:root {
  /*Colors*/
  --primary-color: #ea7f28;
  --primary-dark: #d37324;
  --text-color: #4a4a4a;
  --secondary-color: #ededed;

  /*Breakpoints*/
  --breakpoint-tiny: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1152px;
  --breakpoint-xl: 1920px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

figure{
  margin: 0;
  padding: 0;
}

a,
a:link,
a:hover,
a:visited,
a:active,
button,
button:focus {
  outline: 0;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  text-decoration: none;
  border-color: 0.3s ease-in-out;
}


body {
  background: #fff;
  color: var(--text-color);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 14px;
  display: inline-block;
}

.link:hover {
  text-decoration: underline;
}


/*reusable classess*/

.is-regular-large {
  font-size: 18px;
  font-weight: 400;
}

.is-regular-small {
  font-size: 12px;
  font-weight: 400;
}
.is-regular-meduim {
  font-size: 14px;
  font-weight: 400;
}

.is-bold-large {
  font-size: 32px;
  font-weight: 700;
}

.is-bold-meduim {
  font-size: 18px;
  font-weight: 700;
}
