.button {
  line-height: 32px;
  min-height: 32px;
  font-size: 16px;
  width: 128px;
  border-radius: 5px;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
  border: 0px ;
  padding: 0;
}

.button--is_primary {
  background: var(--primary-color);
  color: #fff;
}


.button--is_primary:active {
  background: var(--primary-dark);
}

