.header {
  height: 80px;
  padding: 0 24px;
  border-bottom: 1px solid var(--secondary-color);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex: 1 1 0;
}

.header__logo-container {
  width: 200px;
}

.header__nav-link {
  color: var(--text-color);
  margin: 12px;
}

.header__nav-link:hover {
  color: var(--primary-color);
}

/*Rules*/

@media screen and (max-width: 480px) {
  .header__logo-container {
    width: 100px;
  }

  .header__nav-link {
    margin: 8px;
    font-size: 14px;
  }
}
